/*Some custom css to modify the standard Shiny values. */

hr {
  border-color: #808080 !important;
  height: 2px;
}

a {
  color: #0E3670;
}

.box {
  box-shadow: 2px 2px 2px #d9d9d9;
}

div.outer {
  background-color: white;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select {
  font-family: 'Open Sans';
  font-weight: 300;
}
h1, h2, h3, h4 { font-weight: 400; }

.search-res {
  background-color:white;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 5px;
}

.selectize-input {
  border-color: white;
  font-size: small;
  margin-bottom: -10px;
}

.selectize-dropdown {
  font-size: small;
}

.btn-default, .sbs-toggle-button, .btn-xs {
  border-color: white;
}

.btn-default, .sbs-toggle-button, .action-button {
  border-radius: 1px;
  font-weight: bold;
}

.btn-default, .action-button:hover {
  border-radius: 1px;
  border-color: white;
}

/* DATE RANGE SELECTOR */
.input-sm {
  background-color: #f2f2f2;
  border-color: white;
  color: #404040;
}

.input-group-addon {
  background-color: #404040;
  color: white;
}
/* DATE RANGE SELECTOR */

.dropdown-toggle {
  border-color: white;
  font-size: small;
}

.dropdown-menu {
  font-size: small;
  padding-left: 10px;
  border-radius: 1px;
}

img {
  display: block;
  margin: auto;
}

.info-div {
  color: #71B8A5 !important;
  padding-top: 3px;
  padding-bottom: 3px;
}

.info-div-right {
  color: #71B8A5 !important;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: right;
}

.info_div_a {
  color: #71B8A5 !important;
}

.tag_info {
  color: #0E3670 !important;
  font-weight: 300;
  padding-top: 3px;
  padding-bottom: 3px;
}

.doc_id {
  color:#bfbfbf;
  font-size:small;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align:right;
}

.popover {
  border-radius: 1px;
  width: 350px;
  max-width: 350px;
}

.popover-title {
  font-size: 110%;
  font-weight: bold;
}

.popover-content {
  font-size: 90%;
  font-weight: light;
}

.nav-tabs>li>a, .nav-tabs>li.active {
  border-radius: 1px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  border-radius: 2px;
  background-color: #0E3670;
}

.nav>li>a:focus, .nav>li>a:hover {
  border-radius: 2px;
}

.nav-pills>li>a { border-radius: 1px }

#n_hits {
  font-weight: bold;
  padding-top: 10px;
}

#n_filt_hit {
  font-weight: bold;
  padding-top: 10px;
}

